<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="6.0">

    <welcome-file-list>
        <welcome-file>product.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

</web-app>
